.outset-border {
    box-shadow: 0 0 0 2px #000;
}
.inset-border {
    box-shadow: inset 0 0 0 2px #000;
}
.left-border {
    box-shadow: inset 2px 0 0 0 #000;
}
.right-border {
    box-shadow: inset -2px 0 0 0 #000;
}
.top-border {
    box-shadow: inset 0 2px 0 0 #000;
}
.bottom-border {
    box-shadow: inset 0 -2px 0 0 #000;
}
